[submodule "custom_components/modernforms"]
	path = custom_components/modernforms
	url = git@github.com:rado0x54/ha-modernforms.git
[submodule "submodules/ha-samsungtv-custom"]
	path = submodules/ha-samsungtv-custom
	url = https://github.com/xchwarze/ha-samsungtv-custom.git
