[submodule "submodules/ha-samsungtv-custom"]
	path = submodules/ha-samsungtv-custom
	url = https://github.com/xchwarze/ha-samsungtv-custom.git
	ignore = dirty
[submodule "submodules/homeassistant-mta-subway"]
	path = submodules/homeassistant-mta-subway
	url = https://github.com/iicky/homeassistant-mta-subway.git
	ignore = dirty
[submodule "submodules/ha-modernforms"]
	path = submodules/ha-modernforms
	url = https://github.com/jimpastos/ha-modernforms.git
	ignore = dirty
[submodule "submodules/somneo"]
	path = submodules/somneo
	url = git@github.com:theneweinstein/somneo.git
[submodule "submodules/ha-carson-living"]
	path = submodules/ha-carson-living
	url = https://github.com/rado0x54/ha-carson-living.git
[submodule "submodules/homeassistant-peloton-sensor"]
	path = submodules/homeassistant-peloton-sensor
	url = https://github.com/edwork/homeassistant-peloton-sensor.git
